<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head></h:head>
<body>
	<ui:composition template="/WEB-INF/templates/master.xhtml">
		<ui:define name="content">
			<h1>Usuarios</h1>
			<h:form id="frm" enctype="multipart/form-data">
				<p:inputText placeholder="Buscar Usuarios" value="#{usuarioBean.user}" />
				<p:commandButton value="Buscar" action="#{usuarioBean.listarPorNombre()}" update="dt"/>
			
				<p:dataTable id="dt" var="e" value="#{usuarioBean.lista}"
					paginator="true" rows="5"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
					rowsPerPageTemplate="5,10,15">
					
					<p:column headerText="Nombre de Usuario">
						<p:outputLabel value="#{e.usuario}" />
					</p:column>

					<p:column headerText="Estado">
						<p:outputLabel value="#{e.estado}" />
					</p:column>

					<p:column headerText="Acción" exportable="false">
						<p:commandButton value="Modificar" actionListener="#{usuarioBean.mostrarData(e)}" oncomplete="PF('wdlg').show()" update="frm:dlg">
						</p:commandButton>
					</p:column>

				</p:dataTable>
				
				<p:dialog id="dlg" header="#{usuarioBean.tipoDialog} #{usuarioBean.usuario.usuario}" widgetVar="wdlg" modal="true" resizable="false" draggable="true">
					<h:panelGrid columns="3">
						<p:outputLabel value="Usuario:" />
						<p:inputText value="#{usuarioBean.usuario.usuario}" />
						<h:column/>

						<p:outputLabel value="Contraseña Actual:" />
						<p:password id="txtContrasena" value="#{usuarioBean.usuario.contrasena}"/>
						<p:commandButton value="Verificar" actionListener="#{usuarioBean.verificar()}" update="aceptar"/>
						
						<p:outputLabel for="password1" value="Nueva Contraseña:" />
						<p:password id="password1" value="#{usuarioBean.password}" match="password2" label="Password 1" validatorMessage="Contraseñas no coinciden" />
						<p:message for="password1" display="text" />
						
						<p:outputLabel for="password2" value="Repetir Contraseña:" />
						<p:password id="password2" value="#{usuarioBean.password}" label="Password 2"/>
						<h:column/>
						
					</h:panelGrid>
					
					<h:panelGrid id="aceptar" columns="3">
						<p:commandButton value="Aceptar" rendered="#{usuarioBean.verificar}" action="#{usuarioBean.modificar()}"/>
						<p:commandButton value="Cancelar" action="#{usuarioBean.cancelar()}"/>
					</h:panelGrid>
					
				</p:dialog>
				
			</h:form>
		</ui:define>
	</ui:composition>

</body>
</html>
